body{
   background-color: wheat;
}

h1{
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(18, 95, 45);
}

.biglorem2{
   color: blueviolet;
}

.smalllorem2{
   color: #3b0000;
}

div{
   font-weight: bold;
   text-align: center;
}

.container{
   width: 1250px;
   margin: 0px auto;
}
